body {
  background-color: #fbf8be;
}

.navbar {
  background-color: #234e70;
  overflow: hidden;
}
.navbar .navtitle {
  color: #fff;
  padding: 0px 15px;
  font-size: 36px;
}

.regtable {
  background-color: #fdfbdb;
  margin: 100px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 650px;
  border-spacing: 30px;
}
.regtable th, .regtable td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.regtable .Regtext {
  font-size: 28px;
  color: white;
}
.regtable .regrow {
  background-color: #446985;
}
.regtable .texts {
  font-size: 22px;
}
.regtable input[type=text] {
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background-color: #fdfbdb;
  font-size: 20px;
}
.regtable input[type=password] {
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background-color: #fdfbdb;
  font-size: 20px;
}
.regtable .registerbutt {
  padding: 15px 75px;
  background-color: #446985;
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0.9;
  font-size: 20px;
  border-radius: 6px;
}
.regtable .registerbutt:hover {
  background-color: #446985;
  opacity: 1;
}